.section-pt {
    margin-top: clamp(3.5rem, 5vw, 20rem);
}

.section-pb {
    margin-bottom: clamp(3.5rem, 5vw, 20rem);
}

.text-db-h2 {
    @apply font-heading font-semibold capitalize text-xl;
}

.link-primary {
    @apply text-primary-500 hover:text-primary-600 underline transition-colors duration-75;
}

.no-content [data-pc-section="content"] {
    display: none;
}
