@import "primeicons/primeicons.css";
@import "./my-utilities.css";
@import "./formkit-primevue.css";

/* @import "./primevue.css"; */

@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    @apply h-full font-body font-normal;
}

h1 {
    @apply text-clamp-2xl sm:text-clamp-3xl xl:text-clamp-4xl font-heading;
}

h2 {
    @apply text-5xl font-heading;
}

h3 {
    font-size: clamp(2rem, 3.6vw, 10rem);
    @apply font-semibold font-heading;
}

h4 {
    @apply text-xl font-heading;
}

h5 {
    @apply text-xl font-heading;
}

h6 {
    @apply text-xl font-heading;
}

img {
    @apply rounded-none;
}

ul {
    @apply list-decimal;
    @apply list-inside;
}

.bg-emphasis{
    @apply bg-primary-500/30;
}
.text-muted-color {
    @apply text-surface-400/60;
}

html.dark .bg-emphasis {
    @apply bg-surface-400/15;
}

html.dark .text-muted-color {
    @apply text-surface-300/80;
}

.p-card.p-component.custom-card {
    @apply border border-surface-100/50;
}

html.dark .p-card.p-component.custom-card {
    @apply border border-surface-700/60;
}