:root {
  --formkit-error-color: #ef9a9a;
}

.formkit-form > .formkit-messages {
  margin: 4px 0;
  .formkit-message {
    font-size: 0.8rem;
  }
}

.formkit-outer {
  margin: 0;
  // padding-bottom: 0.8rem;

  .formkit-inner {

    .p-formkit {

      .p-formkit-icon {
        box-sizing: border-box;
        width: 100%;
      }

      .p-inputtext, .p-password, .p-multiselect, .p-dropdown, .p-textarea {
        box-sizing: border-box;
        width: 100%;
        &.p-colorpicker-preview {
          width: 2rem;
        }
      }

    }
  }

  ul {
    margin-block-start: 2px;
    margin-block-end: 2px;
  }
  .formkit-messages {
    padding: 4px 0 0 0;

    .formkit-message {
      padding: 0;
      margin: 0;
      color: var(--formkit-error-color);
      list-style: none;
      font-size: 0.8rem;
    }
  }
}

.formkit-outer[data-type="primeInputSwitch"], .formkit-outer[data-type="primeCheckbox"], .formkit-outer[data-type="primeTriStateCheckbox"], .formkit-outer[data-type="primeRadioButton"] {
  .formkit-inner {

    .formkit-prime-right {
      margin-left: 10px;
      font-size: 1rem;
    }

    .formkit-prime-left {
      margin-right: 10px;
      font-size: 1rem;
    }
  }
}

.formkit-label {
  display: block;
  margin: 0;
  padding-bottom: 0.5rem;
  font-weight: bold;
  font-size: 0.8rem;
}

.formkit-fieldset {
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: 0;

  &:focus-within {
    border: 0;
  }

  & > .formkit-help {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.formkit-legend {
  display: block;
  margin: 0;
  padding: 0;
}

.formkit-help {
  margin: 4px 0 0 0 ;
  font-size: 0.8rem;
  color: var(--text-color-secondary);
}

.formkit-messages {
  padding: 0;
}

.formkit-message {
  padding: 0;
  margin: 0;
  color: var(--formkit-error-color);
  list-style: none;
  font-size: 0.8rem;
}

.formkit-actions {
  padding-top: 0.5rem;
}

.p-formkit-radio-label {
  margin-left: 1rem;
}

//additional overrides to aboves sfxcode/formkit-primevue
.p-password {
  display: block !important;
}

.p-checkbox {
  vertical-align: middle !important;
}

.p-dropdown-panel {
  z-index: 9999 !important;
}

.p-formkit{
  display:flex;
  align-items: center;
}

.p-formkit .p-dropdown {
  @apply w-full;
}
.p-formkit .p-inputnumber {
  @apply w-full;
}

.formkit-outer[data-disabled="true"] input.p-component {
  @apply pointer-events-none select-none bg-gray-200/25 text-gray-400/75;
}

.formkit-form button[type="submit"] {
  @apply before:w-0 before:h-0 before:opacity-0 before:transition-all before:duration-150;
}

.formkit-form[data-loading="true"] button[type="submit"] {
  @apply before:w-4 before:h-4 before:mr-2 before:opacity-100 before:border before:border-r-transparent before:rounded-3xl before:border-white before:animate-spin pointer-events-none select-none opacity-75;
}
