:root {
  --p-primary-0: #f2fbfd;
  --p-primary-50: #daf3f9;
  --p-primary-100: #c2ebf5;
  --p-primary-200: #91dbed;
  --p-primary-300: #61cce4;
  --p-primary-400: #30bcdc;
  --p-primary-500: #00acd4;
  --p-primary-600: #0087a7;
  --p-primary-700: #00677f;
  --p-primary-800: #004859;
  --p-primary-900: #002b35;
  --p-primary-950: #001d24;
  --p-secondary-0: #f3fbf9;
  --p-secondary-50: #dcf4ed;
  --p-secondary-100: #c5ece1;
  --p-secondary-200: #98ddc9;
  --p-secondary-300: #6acfb2;
  --p-secondary-400: #3dc09a;
  --p-secondary-500: #0fb182;
  --p-secondary-600: #0c8b66;
  --p-secondary-700: #096a4e;
  --p-secondary-800: #064b37;
  --p-secondary-900: #042d21;
  --p-secondary-950: #031e16;
  --p-accent-0: #fffef5;
  --p-accent-50: #fffce1;
  --p-accent-100: #ffface;
  --p-accent-200: #fff6a6;
  --p-accent-300: #fff27f;
  --p-accent-400: #ffee58;
  --p-accent-500: #ffea31;
  --p-accent-600: #c9b827;
  --p-accent-700: #988c1d;
  --p-accent-800: #6b6315;
  --p-accent-900: #403b0c;
  --p-accent-950: #2b2808;
  --p-surface-0: #f4f6f9;
  --p-surface-50: #dfe6ed;
  --p-surface-100: #cad6e2;
  --p-surface-200: #a0b5cb;
  --p-surface-300: #7695b4;
  --p-surface-400: #4c749d;
  --p-surface-500: #225486;
  --p-surface-600: #1b426a;
  --p-surface-700: #143250;
  --p-surface-800: #0e2338;
  --p-surface-900: #091522;
  --p-surface-950: #060e17;
  --p-dark-0: #f7f7f7;
  --p-dark-50: #e7e7e7;
  --p-dark-100: #d7d7d7;
  --p-dark-200: #b7b7b7;
  --p-dark-300: #979797;
  --p-dark-400: #777777;
  --p-dark-500: #575757;
  --p-dark-600: #454545;
  --p-dark-700: #343434;
  --p-dark-800: #252525;
  --p-dark-900: #161616;
  --p-dark-950: #0f0f0f;
  --p-light-0: #fefefe;
  --p-light-50: #fbfbfb;
  --p-light-100: #f9f9f9;
  --p-light-200: #f4f4f4;
  --p-light-300: #efefef;
  --p-light-400: #eaeaea;
  --p-light-500: #e5e5e5;
  --p-light-600: #b4b4b4;
  --p-light-700: #898989;
  --p-light-800: #606060;
  --p-light-900: #3a3a3a;
  --p-light-950: #272727;
}
